.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 55px;
  height: 80px;
  background-color: black;
}
.topbar__left .logo {
  width: 120px;
  height: auto;
}
.topbar__right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.topbar__right button {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  font-family: "IBM Plex Sans", sans-serif;
  color: #2e3333;
  font-size: 16px;
}
.topbar__right .button {
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 16px;
  text-decoration: none;
  color: #2e3333;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.topbar__right .button .bi {
  margin-right: 10px;
  color: #00c2b3;
  font-size: 18px;
}
@media (max-width: 800px) {
  .btn-partner,
  .btn-signup {
    display: none !important;
  }
}
